In [30]:
# Dependencies
import pandas as pd

In [31]:
# Load & read in maskusage file
data_load = "../RawData/county_cases.csv"
cases_data = pd.read_csv(data_load,  encoding = 'unicode_escape')
cases_data

,date,county,state,County_Sate,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,10/14/2020,Autauga,Alabama,"Autauga County, Alabama",1001.0,1928,28.0,1715.0,27.0,213.0,1.0
1,10/14/2020,Baldwin,Alabama,"Baldwin County, Alabama",1003.0,6270,66.0,5400.0,62.0,870.0,4.0
2,10/14/2020,Barbour,Alabama,"Barbour County, Alabama",1005.0,950,9.0,693.0,9.0,257.0,0.0
3,10/14/2020,Bibb,Alabama,"Bibb County, Alabama",1007.0,744,13.0,697.0,9.0,47.0,4.0
4,10/14/2020,Blount,Alabama,"Blount County, Alabama",1009.0,1750,23.0,1355.0,23.0,395.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3239,10/14/2020,Unknown,Tennessee,"Unknown County, Tennessee",NaN,129,0.0,41.0,NaN,88.0,NaN
3240,10/14/2020,Unknown,Utah,"Unknown County, Utah",NaN,211,1.0,25.0,1.0,186.0,0.0
3241,10/14/2020,Unknown,Vermont,"Unknown County, Vermont",NaN,8,0.0,8.0,0.0,NaN,NaN
3242,10/14/2020,Unknown,Washington,"Unknown County, Washington",NaN,2,2.0,0.0,0.0,2.0,2.0
3243,10/14/2020,Unknown,Wisconsin,"Unknown County, Wisconsin",NaN,0,11.0,NaN,NaN,NaN,NaN

In [32]:
#select desired columns
cases_data = pd.DataFrame(cases_data,columns= ['fips','cases','deaths'])
cases_data

        fips  cases  deaths
0     1001.0   1928    28.0
1     1003.0   6270    66.0
2     1005.0    950     9.0
3     1007.0    744    13.0
4     1009.0   1750    23.0
...      ...    ...     ...
3239     NaN    129     0.0
3240     NaN    211     1.0
3241     NaN      8     0.0
3242     NaN      2     2.0
3243     NaN      0    11.0

[3244 rows x 3 columns]

In [34]:
cases_data = cases_data.dropna(subset = ['fips'])
cases_data

         fips  cases  deaths
0      1001.0   1928    28.0
1      1003.0   6270    66.0
2      1005.0    950     9.0
3      1007.0    744    13.0
4      1009.0   1750    23.0
...       ...    ...     ...
3209  72151.0    426     NaN
3210  72153.0    461     NaN
3211  78010.0    491     6.0
3212  78020.0     65     1.0
3213  78030.0    772    13.0

[3214 rows x 3 columns]

In [35]:
cases_data = cases_data.loc[cases_data['fips']<57000]
cases_data

         fips  cases  deaths
0      1001.0   1928    28.0
1      1003.0   6270    66.0
2      1005.0    950     9.0
3      1007.0    744    13.0
4      1009.0   1750    23.0
...       ...    ...     ...
3126  56037.0    401     2.0
3127  56039.0    679     1.0
3128  56041.0    384     2.0
3129  56043.0    126     7.0
3130  56045.0     62     0.0

[3131 rows x 3 columns]

In [36]:


cases_data['fips']=cases_data['fips'].astype(str)
cases_data.head()

     fips  cases  deaths
0  1001.0   1928    28.0
1  1003.0   6270    66.0
2  1005.0    950     9.0
3  1007.0    744    13.0
4  1009.0   1750    23.0

In [37]:
cases_data.dtypes

fips       object
cases       int64
deaths    float64
dtype: object

In [38]:
cases_data['fips']= cases_data['fips'].str[:-2]
cases_data

       fips  cases  deaths
0      1001   1928    28.0
1      1003   6270    66.0
2      1005    950     9.0
3      1007    744    13.0
4      1009   1750    23.0
...     ...    ...     ...
3126  56037    401     2.0
3127  56039    679     1.0
3128  56041    384     2.0
3129  56043    126     7.0
3130  56045     62     0.0

[3131 rows x 3 columns]

In [39]:
cases_data = cases_data.rename(columns= {'fips': 'county_fips'}).set_index('county_fips')
cases_data.to_csv('')

             cases  deaths
county_fips
1001          1928    28.0
1003          6270    66.0
1005           950     9.0
1007           744    13.0
1009          1750    23.0
...            ...     ...
56037          401     2.0
56039          679     1.0
56041          384     2.0
56043          126     7.0
56045           62     0.0

[3131 rows x 2 columns]