In [64]:
# Dependencies
import pandas as pd

In [65]:
# Load & read in geocodes file
data_load = "../RawData/mask-use-by-county.csv"
mask_data = pd.read_csv(data_load, header=0,  encoding = 'unicode_escape')
mask_data.head()

   COUNTYFP NEVER RARELY SOMETIMES FREQUENTLY ALWAYS
0      1001  5.3%   7.4%     13.4%      29.5%  44.4%
1      1003  8.3%   5.9%      9.8%      32.3%  43.6%
2      1005  6.7%  12.1%     12.0%      20.1%  49.1%
3      1007  2.0%   3.4%      9.6%      27.8%  57.2%
4      1009  5.3%  11.4%     18.0%      19.4%  45.9%

In [66]:
# load and read county_state for state_fips
data2_load = "county_state.csv"
county_state_data = pd.read_csv(data2_load, header=0,  encoding = 'unicode_escape')
county_state_data.head()

   county_fips  state_fips
0         1001        1000
1         1003        1000
2         1005        1000
3         1007        1000
4         1009        1000

In [67]:
# Add state_fips from county_state into dataframe
mask_data['state_fips'] = county_state_data['state_fips']

# Reanme columns
mask_usage = mask_data.rename(columns={'COUNTYFP': 'county_fips', 'NEVER':'never', 'RARELY':'rarely', 'SOMETIMES':'sometimes', 'FREQUENTLY':'frequently', 'ALWAYS': 'always'})

# Reorder columns in same order as ERD and set index
columns_order = ['county_fips', 'state_fips', 'never', 'rarely', 'sometimes', 'frequently', 'always']
mask_usage = mask_usage.reindex(columns=columns_order).set_index('county_fips')

# Save file to clean data
#mask_usage.to_csv('mask_usage.csv')

POPULATION

In [68]:
# Load & read in geocodes file
data_load = "../RawData/county_census.csv"
census_data = pd.read_csv(data_load, header=3, encoding = 'unicode_escape')
census_data.head()

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
1,".Autauga County, Alabama","54,571","54,597","54,773","55,227","54,954","54,727","54,893","54,864","55,243","55,390","55,533","55,869"
2,".Baldwin County, Alabama","182,265","182,265","183,112","186,558","190,145","194,885","199,183","202,939","207,601","212,521","217,855","223,234"
3,".Barbour County, Alabama","27,457","27,455","27,327","27,341","27,169","26,937","26,755","26,283","25,806","25,157","24,872","24,686"
4,".Bibb County, Alabama","22,915","22,915","22,870","22,745","22,667","22,521","22,553","22,566","22,586","22,550","22,367","22,394"

In [69]:
# Select wanted columns/drop united states totals/drop notes in file 
census_data = pd.DataFrame(census_data, columns=['2019'])
census_data = census_data.drop(census_data.index[3143:3149])
census_data = census_data.drop(0)
census_data

         2019
1      55,869
2     223,234
3      24,686
4      22,394
5      57,826
...       ...
3138   42,343
3139   23,464
3140   20,226
3141    7,805
3142    6,927

[3142 rows x 1 columns]

In [70]:
# insert county_fips